.custom-panel-head {
	background: #fff !important;
	padding: 16px 10px 16px 14px;
}

.sub-custom-panel-head {
	background: #fff !important;
}

.custom-panel-head > h3 > i {
	color: #4c4c4c;
	font-size: 22px;
}

.custom-panel-head > h3, .custom-panel-head > h3 > span {
	font-family: 'Open Sans', arial, helvetica, sans-serif !important;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.panel-title > .form-check > label {
	font-family: 'Open Sans', arial, helvetica, sans-serif !important;
	font-size: 13px;
	position: relative;
	top: -1px;
	left: 6px;
	font-weight: 600;
	color: #49a251 !important
}

.panel-title > span {
	color: #585858;
	font-size: 13px;
	float: right;
	position: relative;
	bottom: 20px;
	cursor: pointer;
}

.panel-details > i {
	color: #9b9b9b !important;
	margin-right: 10px;
	font-size: 13px;
}

.panel-details {
	font-size: 13px;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.custom-panel:hover {
	cursor: pointer;
	border: 1px solid #49a251;
}

.custom-panel-active {
	border: 1px solid #49a251;
}

.panel-title > button {
	float: right;
	margin-left: 5px;
}

.pay-gate {
	font-family: 'Open Sans', arial, helvetica, sans-serif !important;
	font-size: 15px;
	position: relative;
	left: 6px;
	font-weight: 600;
	color: #292929 !important;
	width: 100%;
}

.pay-gate > input {
	margin-right: 8px;
}

.pay-gate > img {
	float: right;
	width: 140px;
	height: 40px;
}

.parent-block {
	position: relative;
	top: 10px;
}

.panel-product-title {
	font-size: 15px;
	font-weight: 600;
	color: #4e4e4e;
	font-family: 'Open Sans', arial, helvetica, sans-serif !important;
}

.panel-product-quantity {
	font-size: 17px;
	font-weight: 600;
	color: #4e4e4e;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.panel-product-title > span {
	font-size: 12px;
	position: relative;
	top: 8px;
	color: #4e4e4e;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.panel-product-title > span > span {
	color: #49a251 !important
}

.panel-product-price {
	font-size: 22px;
	font-weight: 700;
	color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.panel-pr-image {
	height: 70px;
	width: 70px;
}

.panel-product-action > a {
	text-decoration: none;
	color: #49a251 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
}

.panel-product-price > .discount, .panel-product-price > .discount-count {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #9f9f9f;
	position: relative;
	bottom: 10px;
}

.panel-summary-quantity {
	float: right;
	position: relative;
	top: 2px;
}

.summary-title, .summary-title > span {
	font-weight: 700 !important;
}

.sum-pad {
	padding: 2px;
}

.cs-sum-grp > .list-group-item {
	padding: 16px;
}

.cs-sum-grp > .cs-sm-m {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
}

.cs-sum-grp > .cs-sm-m > span {
	float: right;
	color: #414141;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.btn-custom-dark {
	background: #404040;
	color: #fff;
}

.btn-custom-dark:hover {
	background: #5b5b5b;
	color: #fff;
}

.btn-custom-primary {
	background: #fff;
	color: #49a251;
	border: 1px solid #49a251;
	padding: 6px;
	border-radius: 2px;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	outline: none;
}

.btn-custom-primary:hover {
	background: #49a251;
	color: #fff;
}

.cs-sm-t {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.cs-sm-t > span {
	float: right;
	color: #111;
	font-size: 17px;
}

.checkout-form-input {
	outline: none;
	border: 1px solid #9c9c9c !important;
	/*padding: 10px;*/
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.checkout-form-input-label {
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #1d1d1d;
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #000;
}

.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.cst-loader {
	z-index: 90100;
	position: relative;
	bottom: 200px;
	left: 140px;
}

.cst-overlay {
	position: absolute;
	display: none;
	width: 93%;
	height: 76%;
	background-color: rgba(191, 191, 191, 0.5);
	z-index: 2;
	cursor: pointer;
}
