.vl {
    border-left: 1px solid #fff;
    height: 100vh;
}

.custom-active {
    background: #414141;
}

.custom-active > a {
    color: #000 !important;
    background: #fff;
    border-left: 4px solid #27AE60;
    border-radius: 0;
    /*-moz-box-shadow:    3px 0 2px 0 #eeeeee;*/
    /*-webkit-box-shadow: 3px 0 2px 0 #eeeeee;*/
    /*box-shadow:         3px 0 2px 0 #eeeeee;*/
}

.custom-nav {
    box-shadow: 1px 2px 1px #262626;
}

.custom-margin-top {
    margin-top: 60px;
    margin-right: -25px;
    height: 100vh;
}

.custom-margin-top > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
}

.custom-margin-top > li > a:hover {
    color: #000 !important;
    background: #fff;
    border-radius: 0;
    border-left: 4px solid #27AE60;
}

.disabled {
    color: #d6d6d6 !important;
    font-size: 15px;
    font-weight: bold;
}

.fa-folder-open .fa-dolly {
    color: #575757 !important;
}

.fa-cuttlefish {
    color: #27AE60;
}

.custom-dropdown-nav {
    background: #414141;
    color: #fff;
    width: 100%;
    padding: 14px;
}

.custom-dropdown-menu {
    width: 100%;
    border-radius: 0;
}

.custom-dropdown-menu-body {
    margin-top: -13px;
    border-radius: 0;
}

.custom-dropdown-menu-body > li {
    background: #414141 !important;
}

.custom-dropdown-menu-body > li > a {
    color: white;
}

.custom-dropdown-menu-body > li:hover {
    border-left: 5px solid #27AE60 !important;
}

.mobile-active {
    border-left: 5px solid #27AE60 !important;
}

.custom-fa-lg {
    font-size: 18px;
    /*color: #414141;*/
}

.custom-fa-icon {
    color: #414141;
}

.custom-desktop-dropdown {
    border-right: 1px solid #dddddd;
    border-top: 1px solid #868686;
    width: 96%;
    padding-bottom: 0;
    margin-bottom: -14px;
}

.custom-desktop-dropdown > li {
    background: #343a40 !important;
    color: #fff;
}

.custom-desktop-dropdown > li:hover {
    /*border-left: 4px solid #27AE60;*/
    box-shadow: -10px 0px 20px -5px #27AE60;
    cursor: pointer;
}

.color-white {
    color: #ffffff !important;
    text-decoration: none !important;
}

.custom-logo-container > img {
    width: 180px;
    height: 80px;
    display: block;
    margin: 0 auto !important;
}

.custom-seller-board {
    margin-top: 90px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .custom-seller-board {
        margin-top: 120px;
    }
}

.custom-container {
    margin-top: 38px;
    background: #f7f7f7;
    padding: 60px;
    height: fit-content;
    border-radius: 10px;

    /*font-size: 30px;*/
    /*text-align: center;*/
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
}

.custom-container > p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 21px;
    color: #525252;
    font-weight: bold;
}

.custom-select-menu {
    width: 100%;

}

.custom-btn {
    background: #27AE60;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #27AE60;
    width: 320px;
    padding: 4px;
}

.custom-top {
    display: block;
    margin: 0 auto !important;
    margin-top: 30px !important;
}