
a,
.navbar-nav > li:hover > a,
.dropdown-menu-category-title,
.dropdown-menu-category-list > li > a:hover,
.dropdown-menu-shipping-cart-price,
.dropdown-menu-items-list > li > a:hover,
.category-selections-icon.active,
.category-selections-icon.active:hover,
.category-pagination > li > a,
.blog-post-title > a:hover,
.product-page-product-rating.product-rating-big > li.count,
.product-page-qa-question:before,
.product-page-qa-answer:before,
.product-review-thumb-product-title > a:hover,
.btn-ghost.btn-primary,
.comment comment-review-rate {
	color: #74c683;
}

.box-highlight {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 8px rgba(116, 198, 131, 0.55);
}

.navbar-main {
	background: #49a251;
}

.navbar-nav > li.open > a {
	background: #49a251 !important;
}

.navbar-main .navbar-border > li {
	border-right: 1px solid #49a251;
}

.navbar-main .navbar-border > li:last-child {
	border-right: none;
}

.navbar-before-inverse,
.navbar-main-white .navbar-nav > li:hover > a,
.navbar-main-white .navbar-main-search-submit,
.navbar-main-white .navbar-main-search-submit:hover,
.dropdown-menu-category > li:hover > a,
.main-header-input-center-btn,
.category-pagination > li.last > a,
.category-tabs .nav-pills li.active > a,
.blog-sidebar-tags > li > a:hover,
.product-icon-quick-view,
.product-plus,
.product-quick-view:hover,
.product-labels > li,
.product-review-rate:hover,
.btn-ghost.btn-primary:hover,
.i-check.i-check-stroke.checked:before,
.irs-slider {
	background: #49a251;
}

.navbar-main-white .dropdown-menu {
	border-top: 2px solid #49a251;
}

.main-header {
	background: #44a757;
	border-bottom: 1px solid #409c51;
}

.main-footer {
	border-top: none;
}

.category-filters-color {
	background: #44a757;
}

.category-filters-color .category-filters-section {
	border-color: #378645;
}

.category-pagination > li > a:hover,
.category-pagination > li.last > a,
.blog-sidebar-tags > li > a:hover {
	border-color: #74c683;
}

.product-icon-quick-view:hover {
	background: #69c179;
}

.product-plus:hover {
	background: #53b865;
}

.btn-primary {
	background: #49a251;
	border-color: #5ebd6f;
}

.btn-primary:hover {
	background: #5ebd6f;
	border-color: #49b25c;
}

.btn-primary:focus {
	background: #5ebd6f;
	border-color: #49b25c;
}

.i-check.hover,
.i-radio.hover {
	border: 1px solid #74c683;
}

.i-check.checked,
.i-radio.checked {
	border: 1px solid #74c683;
	background: #74c683;
}

.jqzoom-list > li > a.zoomThumbActive > img {
	box-shadow: 0 0 0 2px rgba(116, 198, 131, 0.75);
}

.custom-menu-category-drop > a {
	color: #49a251 !important;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.custom-menu-category-drop > a:hover {
	text-decoration: none;
	color: #49a251 !important;
}

.custom-fa-cover {
	background: #fff;
	width: 230px;
	height: 230px;
	padding: 33px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px inset #1bd656;
	margin: 25px auto 12px;
}

.custom-fa {
	font-size: 150px;
	color: #373737;
	position: relative;
	top: -20px;
}

.custom-text {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #4c4c4c;
}

.custom-widget-text {
	color: #404040;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	/*font-family: 'Bree Serif', serif;*/
}

.tree-input {
	font-size: 13px;
	color: #595959;
}

.tree-input:hover {
	color: #434343;
}

.no-outline {
	box-shadow: none;
}

.tree-line {
	border-top: 1px solid #f2f2f2 !important;
	margin: 0 -25px 0;
}

.cs-title {
	color: #272727;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 14px;
	padding: 2px;
}

.cs-price-tl {
	color: #272727;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 14px !important;
}

.cs-price-tl-discount {
	color: #272727;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 14px !important;
	text-decoration: line-through;
}

/*.product-caption {*/
/*max-height: 110px;*/
/*min-height: 100px;*/
/*margin-bottom: -35px;*/
/*}*/

.cat-notify {
	padding: 1px;
	text-align: center;
	margin-bottom: 30px;
}

.cat-notify > p {
	margin: 0;
}

.cat-notify > .n-head {
	text-transform: uppercase;
	color: #000;
	margin: 0;
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
}

.cat-notify > .n-body {
	text-transform: none;
	line-height: normal;
	display: block;
	color: #909090;
	font-size: 14px;
	font-weight: 400;
}

/*.yamm {*/
/*border-bottom: 4px solid #e9e9e9;*/
/*}*/


/*.cart-read {*/
	/*color: #0b0b0b !important;*/
	/*background: #fff;*/
	/*padding: 3px 6px;*/
	/*border-radius: 3px;*/
	/*margin-left: 2px;*/
/*}*/

.product-line {
	border-top: 1px solid #e1e1e1 !important;
	margin: 0 -16px 0;
}

.product-page-price, .product-variation {
	margin-top: 18px;
	margin-bottom: 18px;
}

.custom-product-page-option-title {
	font-size: 14px;
	margin-bottom: 0;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 6px;
	color: #404040;
}

/*.product-page-qty {*/
/*background: #fff;*/
/*height: 39px;*/
/*width: 39px;*/
/*line-height: 39px;*/
/*float: left;*/
/*display: block;*/
/*text-align: center;*/
/*padding: 0;*/
/*border: none;*/
/*-webkit-border-radius: 0;*/
/*border-radius: 0;*/
/*}*/

.quan-u {
	position: relative;
	top: -2px
}

.price-cs {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

.price-lower {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 13px;
	position: relative;
	top: -3px;
	left: 4px;
}

.custom-product-title {
	color: #0b0b0b;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
}

.pr-id {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 11px;
	color: #0b0b0b;
}

#pr-seller {
	color: #49a251 !important;
}

.c-hover:hover {
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08) !important;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08) !important;
}

.fav {
	background: #f9dc1b;
}

.fav:focus {
	background: #f9dc1b;
}

.fav:hover {
	background: #f9f766;
}

.c-brc > li > a {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 13px;
}

.c-a-brc {
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 13px;
}

.pr-over {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	color: #303030;
}

.product-overview-desc > p {
	font-family: 'Open Sans', arial, helvetica, sans-serif !important;
	font-size: 13px;
	color: #636363;
}

.product-page-features-table-specs {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #323232;
}

.product-page-features-table-details {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #323232;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

.market-search {
	position: absolute;
	height: 100%;
	top: 36px;
	list-style-type: none;
	z-index: 12;

}

.src-cover {
	display: none;
	width: 100% !important
}

.market-search{width: 10% !important}

.market-search > .search-header, .market-search > .search-not-found {
	margin: 0 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	color: #4e4e4e !important;
	font-weight: 700;
}

.market-search > .search-not-found {
	border-bottom: 1px solid #454545;
}

.market-search li a, .market-search > .search-header {
	position: relative;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	background-color: #fff;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
	color: black;
	display: block;
}

.market-search li a:hover:not(.header) {
	background-color: #eee;
}

.navbar-main-search-submit {
	border-radius: 0;
}

.search-image {
	width: 60px;
	height: 60px;
}

.search-display {
	position: relative;
	top: 10px;
	color: #737373;
}

.search-display > .price {
	margin-top: -10px;
}

.n-margin {
	margin-right: -23px;
}

@media (min-width: 600px) {
	.market-search {
		width: 93% !important;
		left: 14px !important;
	}
}

@media (min-width: 480px) {
	.market-search {
		width: 100% !important;
		left: -35px !important;
	}
}

@media only screen and (max-width: 768px) {
	.n-margin {
		margin-right: -17px !important;
	}
}

/*@media (min-width: 320px) {*/
	/*.market-search {*/
		/*width: 93% !important;*/
		/*left: 14px !important;*/
	/*}*/
/*}*/

/*@media (min-width: 801px) {*/
	/*.market-search {*/
		/*width: 93% !important;*/
		/*left: 14px !important;*/
	/*}*/
/*}*/

/*@media (min-width: 1025px) {*/
	/*.market-search {*/
		/*width: 82% !important;*/
		/*left: 109px !important;*/
	/*}*/
/*}*/

/*.search-price-discount {*/
	/*text-decoration: line-through;*/
	/*color: #4e4e4e;*/
	/*font-size: 13px;*/
	/*margin-left: 1px;*/
/*}*/

.highlight {
	color: #000;
	font-weight: bold;
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #000;
}

.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.cst-loader {
	z-index: 90100;
	position: relative;
	bottom:350px;
	left: 50%;

	/*left: 140px;*/
}
